@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,700,700italic,300,300italic&subset=latin,latin-ext);

$font-family-sans-serif: 'Raleway', 'Aria', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 17px;
$font-size-h1: floor(($font-size-base * 2.5));
$font-size-h2: floor(($font-size-base * 2.0));
$font-size-h3: ceil(($font-size-base * 1.5));
$font-size-h4: ceil(($font-size-base * 1.3));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));

$container-large-desktop: 900px;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$brand-primary: #006084;
$input-border-focus: $brand-primary;
$gray: #3B3C3D;
$toner: #111;
$lektor-header-bg: #363B3D;
$navbar-inverse-bg: $lektor-header-bg;

$code-color: $brand-primary;
$code-bg: #EFF6F8;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

body {
  padding: 0;
  background: lighten($gray, 20);
}

pre {
  font-size: 0.9em;
}

h2 {
  font-weight: 200;
}

blockquote {
  border-left: none;
  font-size: inherit;
  padding: 0;
  margin: 15px 0 15px 30px;
}

nav.navbar-static-top {
  margin-bottom: 0;
}

div.body-wrapper {
  background: white;
  background-position: 51px 0;
  min-height: 500px;
  padding-bottom: 60px;
  line-height: 1.75;
}

footer {
  border-top: 1px solid #666;
  padding: 10px 0;
  color: #222;
  line-height: 36px;

  .icon-bar {
    font-size: 26px;
    a {
      margin-right: 10px;
      text-decoration: none;
    }
  }

  a {
    color: #ccc;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }

  div.row > div + div {
    text-align: right;
  }
}

pre {
  border: none;
  border-radius: 0;
  padding: 15px 20px;
}

div.slideshow-wrapper {
  overflow: hidden;
}

div.slideshow {
  margin: 20px -10px;
  padding: 15px 10px;
  height: auto;
  overflow: auto;
  background: lighten($gray, 55);
  box-shadow: inset 0 0 10px fade-out(darken($lektor-header-bg, 5), 0.8);
  color: white;

  div.slideshow-inner {
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden;
  }

  .carousel-control {
    background: transparent!important;
  }

  .carousel-indicators li {
    box-shadow: 0 0 4px $gray, 0 0 2px $gray;
  }

  div.slide {
    div.container {
      position: relative;
    }
    .description {
      position: absolute;
      left: 200px;
      right: 200px;
      background: fade-out($lektor-header-bg, 0.15);
      border-radius: 5px;
      bottom: 20px;
      padding: 10px;
      p {
        margin: 0;
        text-align: center;
      }

      @media (max-width: $screen-sm-max) {
        left: 20px;
        right: 20px;
      }
    }

    img {
      display: block;
      margin: 15px auto;
      box-shadow: 0 4px 16px fade-out($gray, 0.6);
      border-radius: 6px;
      height: 450px;

      @media (max-width: $screen-sm-max) {
        height: auto;
        width: 100%;
      }

      &.large {
        width: 100%;
        height: auto;
      }
    }
  }
}

div.pagination {
  display: block;
  text-align: center;
}

div.child-pages {
  border-top: 1px solid #ddd;
  margin-top: 35px;
  padding-top: 10px;

  div.child {
    margin: 10px 0;
  }

  h4, p {
    margin: 0;
    line-height: 1.4;
  }

  h4 code.tech-name {
    background: transparent;
    font-size: 0.8em;
    color: inherit;
    font-style: italic;
  }
}

div.blog-post {
  padding: 0 0 50px 0;

  div.meta-bar {
    margin: 25px 0;
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
  }
}

div.nav-prev {
  float: left;
}

div.nav-next {
  float: right;
}

div.doc-styling {
  h1 {
    code {
      padding: 0!important;
      display: inline;
      background: transparent;
      font-family: $font-family-base;
    }
    code.mod {
      color: $toner;
    }
    span.sig {
      font-size: 0.7em;
      color: #888;
      code {
        font-family: $font-family-base;
        color: $toner;
        letter-spacing: -1px;
      }
    }
  }

  ul.page-meta {
    list-style: none;
    font-style: italic;
    margin: 0;
    padding: 0 0 0 30px;
    line-height: 1.4;

    > li {
      margin: 0;
      padding: 0;
      &:last-child {
        margin-bottom: 10px;
      }

      em {
        background: #eee;
      }
    }
  }

  table {
    width: 100%;
    border: 1px solid $brand-primary;
    margin: 15px 0;

    th {
      border-bottom: 1px solid $brand-primary;
      background: $brand-primary;
      color: white;
      font-size: 13px;
    }

    td, th {
      padding: 5px 10px;
    }

    tr {
      background: white;
    }

    tr:nth-child(odd) {
      background: #f8f8f8;
    }
  }

  img {
    max-width: 100%;
  }

  img.screenshot {
    width: 100%;
    box-shadow: 0 4px 16px fade-out($gray, 0.8);
    border-radius: 6px;
    margin: 15px 0;
  }
}

div.screenshot-frame {
  margin: 15px -30px 15px -30px;
  padding: 30px;
  background: white;
  border-radius: 10px;

  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px fade-out($gray, 0.8);
  }
  @media (max-width: $screen-sm-max) {
    margin: 15px 0;
    padding: 0;
    background: none;
  }
}

div.text-block {
  margin: 15px 0;
  &.text-block-centered {
    text-align: center;
  }
  &.text-block-two-column-list {
    text-align: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      li {
        vertical-align: top;
        font-size: $font-size-base;
        margin: 15px 0;
        padding: 0 50px;
        width: 50%;
        display: inline-block;
        strong {
          display: block;
          font-size: 24px;
          font-weight: normal;
        }
        @media (max-width: $screen-xs-max) {
          width: 100%;
          padding: 0 30px;
        }
      }
    }
  }
}

p.meta {
  color: lighten($gray, 30);
}

ul.toc, ul.toc ul {
  font-size: 14px;
  padding-left: 25px;
  line-height: 1.4;
}

ul.tree-nav {
  margin: 25px 0;
  padding: 0;
  list-style: none;
  line-height: 1.3;

  li {
    padding: 0;
    margin: 0;

    + li {
      border-top: 1px solid #ddd;
    }

    &.active {
      > a {
        font-weight: bold;
        color: $toner;
      }
    }

    a {
      display: block;
      padding: 5px 10px;

      @media (max-width: $screen-sm-max) {
        padding: 3px 10px;
        font-size: 14px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 1px 10px;
      }
    }

    @media (max-width: $screen-xs-max) {
      border: none!important;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid #ddd;
      padding-left: 10px;
      margin-left: 0px;
      font-size: 14px;
    }

    li li {
      padding-left: 20px;
      margin-left: -10px;
    }

    li li li {
      padding-left: 30px;
      margin-left: -20px;
    }

    li li li li {
      padding-left: 40px;
      margin-left: -30px;
    }
  }
}

div.admonition {
  margin: 15px 0;
  background: white;
  padding: 10px 15px;
  padding-bottom: 0;

  &:before {
    margin: -10px -15px 10px -15px;
    padding: 10px 15px;
    line-height: 1;
    background: #ccc;
    display: block;
    content: "";
    font-weight: bold;
    font-size: 13px;
  }

  &.admonition-note {
    &:before {
      content: "Note";
      background: #8FC4E0;
    }
    border: 1px solid #8FC4E0;
  }

  &.admonition-info {
    &:before {
      content: "Info";
      background: #E0C18F;
    }
    border: 1px solid #E0C18F;
  }

  &.admonition-tip {
    &:before {
      content: "Tip";
      background: #9EB675;
    }
    border: 1px solid #9EB675;
  }

  &.admonition-warning {
    &:before {
      content: "Warning";
      background: #E0AA8F;
    }
    border: 1px solid #E0AA8F;
  }
}

/* hello */
div.hello-box {
  text-align: center;

  img.logo {
    margin: 20px;
    height: 250px;
  }

  h1 {
    font-size: 36px;
    font-weight: 200;
    margin: 10px 0 15px 0;
  }

  div.project {
    margin: 20px 0;
    line-height: 1.4;
    h3 {
      margin: 0 0 10px 0;
    }
    p {
      margin: 0;
    }
  }
}

/* infobox */
div.infobox {
  font-size: 14px;
  font-weight: 500;
  p {
    margin: 0;
    span.fa {
      color: #888;
    }
  }
  h3 {
    font-size: 20px;
  }
}

/* project page */
ul.project-selector {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
  li {
    display: inline;
    padding: 0;
    margin: 0;
    & + li:before {
      content: " · ";
    }
    &.active {
      font-weight: bold;
    }
  }
}

/* github button */
div.github-button {
  margin-top: 30px;
  a.github-button {
    font-size: 0;
  }
}
